<% include partials/header %>
<div style="text-align: center" class="container">
    <h1 style="margin: 50px auto 50px auto">Howdy!</h1>
    <h1>Welcome to the Most Beautiful website on earth!</h1>
    <p style="margin: 50px auto 50px auto"><a type="button" href="/collectdata/start"><button class="btn btn-primary btn-lg">create new account</button></a></p>
    <p style="margin: 50px auto 50px auto"><a type="button" href="/test"><button class="btn btn-primary btn-lg">logging in</button></a></p>
    <p style="font-size: 30px">🤠</p>
</div>
	</BODY>
</HTML>